<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
    <extension id="OntoGrafView"
              point="org.protege.editor.core.application.ViewComponent">
      <label value="OntoGraf"/>
      <class value="org.protege.ontograf.OntoGrafView"/>
      <headerColor value="@org.protege.classcolor"/>
      <category value="@org.protege.classcategory"/>
   </extension>
   
   <extension id="OntoGrafImportView"
              point="org.protege.editor.core.application.ViewComponent">
      <label value="OntoGraf Import View"/>
      <class value="org.protege.ontograf.OntoGrafImportView"/>
      <headerColor value="@org.protege.classcolor"/>
      <category value="@org.protege.ontologycategory"/>
   </extension>
   
   <extension id="OntoGrafTab"
              point="org.protege.editor.core.application.WorkspaceTab">
      <label value="OntoGraf"/>
      <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
      <index value="X"/>
      <editorKitId value="OWLEditorKit"/>
      <defaultViewConfigFileName value="viewconfig-ontograf.xml"/>
   </extension>
</plugin>
